html, body
{
	overflow-y: hidden;
	user-select: none;
	
	margin: 0;
	padding: 0;
}

body
{
	/* Stupid */
	height: 100vh;
}

#lapsa-slide-container
{
	/*
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	*/
	
	position: relative;
	
	width: 100vw;
	margin: 0 auto;
	/*overflow-y: hidden;*/
}

#lapsa-slide-container .slide
{
	position: fixed;
	
	width: 90vw;
	height: 50.625vw;
	
	margin-top: calc((100vh - 55.625vw) / 2);
	margin-bottom: calc((100vh - 55.625vw) / 2);
	
	border-radius: 2.5vw;
	
	padding: 2.5vw;
	left: 2.5vw;
	
	box-shadow: 0px 0px 1vw 0px rgb(127, 127, 127);
	
	font-size: 3vw;
	
	line-height: 1.25;
	
	overflow: hidden;
	
	transition: top .6s cubic-bezier(.25, 1.0, .5, 1.0);
}

#lapsa-slide-container .slide h1, #lapsa-slide-container .slide h2, #lapsa-slide-container .slide p
{
	width: 100%;
	
	text-align: left;
	
	margin: 0;
	padding-bottom: 2vw;
	
	line-height: 1.25;
}

#lapsa-slide-container .slide h1
{
	font-size: 200%;
	
	margin-top: -1vw;
}

#lapsa-slide-container .slide h2
{
	font-size: 150%;
}

#lapsa-slide-container .slide p
{
	color: rgb(64, 64, 64);
}

.centered p
{
	text-align: center !important;
}

.left-text p
{
	width: 50% !important;
	margin-left: 0 !important;
}

.footer-text
{
	width: 100%;
	position: absolute;
	bottom: 2vw;
}

.footer-text p
{
	margin-bottom: 0 !important;
}



#lapsa-slide-container .slide .wilson-applet-canvas-container
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#lapsa-slide-container .slide canvas
{
	border-radius: 1.25vw;
}

#lapsa-slide-container .medium-canvas canvas
{
	width: 40.8vw;
	height: 40.8vw;
}

#lapsa-slide-container .medium-canvas #canvas-bundle
{
	position: absolute;
	
	right: 2.5vw;
	bottom: 2.5vw;
}

#lapsa-slide-container .large-canvas canvas
{
	width: 45vw;
	height: 45vw;
}

#lapsa-slide-container .large-canvas #canvas-bundle
{
	position: absolute;
	
	left: 25vw;
	bottom: 2.5vw;
}

#lapsa-slide-container .slide.full-canvas
{
	background-color: rgb(0, 0, 0);
}

#lapsa-slide-container .full-canvas canvas
{
	width: 55.625vw;
	height: 55.625vw;
}

#lapsa-slide-container .full-canvas #canvas-bundle
{
	position: absolute;
	
	left: calc((95vw - 55.625vw) / 2);
	bottom: 0;
}



#lapsa-slide-shelf-container
{
	position: fixed;
	
	width: 100px;
	height: 600px;
	
	top: calc((100vh - 600px) / 2);
	left: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#lapsa-slide-shelf
{
	width: 50px;
	margin-right: 0;
	background-color: rgb(255, 255, 255);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border-radius: 10px;
	
	padding: 5px;
	
	box-shadow: 0px 0px 5px 0px rgb(127, 127, 127);
}

#lapsa-slide-shelf .shelf-button
{
	width: 50px;
	border-radius: 5px;
	
	transition: background-color .1s ease-in-out;
	background-color: rgb(255, 255, 255);
}

#lapsa-slide-shelf.lapsa-hover .shelf-button:hover
{
	background-color: rgb(192, 192, 192);
}



/* By default, the slide is 95vw wide due to the padding, and the height is 55.625vw. This aspect ratio is 152:89, so when we're larger than that, we switch to measuring in terms of vh instead. At the switching point, 1vw = 1vh * 152/89, which we use for our calculations. */
@media (min-aspect-ratio: 152/89)
{
	#lapsa-slide-container .slide
	{
		height: calc(50.625vh * 152 / 89);
		width: calc(90vh * 152 / 89);
		
		border-radius: calc(2.5vh * 152 / 89);
		
		box-shadow: 0px 0px calc(1vh * 152 / 89) 0px rgb(127, 127, 127);
		
		padding: calc(2.5vh * 152 / 89);
		
		left: calc(2.5vh * 152 / 89);
		
		font-size: calc(3vh * 152 / 89);	
	}
	
	#lapsa-slide-container .slide h1, #lapsa-slide-container .slide h2, #lapsa-slide-container .slide p
	{
		padding-bottom: calc(2vh * 152 / 89);
	}

	#lapsa-slide-container .slide h1
	{
		margin-top: calc(-1vh * 152 / 89);
	}
	
	#lapsa-slide-container .footer-text
	{
		bottom: calc(2vh * 152 / 89);
	}
	
	
	
	#lapsa-slide-container .slide canvas
	{
		border-radius: calc(1.25vh * 152 / 89);
	}
	
	#lapsa-slide-container .medium-canvas canvas
	{	
		width: calc(40.8vh * 152 / 89);
		height: calc(40.8vh * 152 / 89);
	}

	#lapsa-slide-container .medium-canvas #canvas-bundle
	{
		position: absolute;
		
		right: calc(2.5vh * 152 / 89);
		bottom: calc(2.5vh * 152 / 89);
	}

	#lapsa-slide-container .large-canvas canvas
	{
		width: calc(45vh * 152 / 89);
		height: calc(45vh * 152 / 89);
	}

	#lapsa-slide-container .large-canvas #canvas-bundle
	{
		position: absolute;
		
		left: calc(25vh * 152 / 89);
		bottom: calc(2.5vh * 152 / 89);
	}
	
	#lapsa-slide-container .full-canvas canvas
	{
		width: calc(55.625vh * 152 / 89);
		height: calc(55.625vh * 152 / 89);
	}

	#lapsa-slide-container .full-canvas #canvas-bundle
	{
		position: absolute;
		
		left: calc(((95vh - 55.625vh) * 152 / 89) / 2);
		bottom: 0;
	}
}