#slide-container
{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow-y: hidden;
}

.slide
{
	position: relative;
	
	width: 90vw;
	height: 50.625vw;
	
	border-radius: 2.5vw;
	
	padding: 2.5vw;
	
	box-shadow: 0px 0px 1vw 0px rgb(127, 127, 127);
	
	font-size: 2vw;
	
	line-height: 1.25;
	
	overflow: hidden;
}

.slide .heading-text, .slide .section-text, .slide .body-text
{
	width: 100%;
	
	text-align: left;
	
	margin-bottom: 1.5vw;
	
	line-height: 1.25;
}

.slide br
{
	line-height: 1.25;
}

.slide .heading-text
{
	font-size: 250%;
	
	margin-top: -1vw;
}

.slide .section-text
{
	font-size: 150%;
}

.slide .body-text
{
	font-size: 100%;
}

.centered p
{
	text-align: center !important;
}

.left-text p
{
	width: 50% !important;
	margin-left: 0 !important;
}

.footer-text
{
	width: 100%;
	position: absolute;
	bottom: 2vw;
}

.footer-text p
{
	margin-bottom: 0 !important;
}



.slide .wilson-applet-canvas-container
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.slide canvas
{
	border-radius: 1.25vw;
}

.medium-canvas canvas
{
	width: 40.8vw;
	height: 40.8vw;
}

.medium-canvas #canvas-bundle
{
	position: absolute;
	
	right: 2.5vw;
	bottom: 2.5vw;
}

.large-canvas canvas
{
	width: 45vw;
	height: 45vw;
}

.large-canvas #canvas-bundle
{
	position: absolute;
	
	left: 25vw;
	bottom: 2.5vw;
}

.slide.full-canvas
{
	background-color: rgb(0, 0, 0);
}

.full-canvas canvas
{
	width: 55.625vw;
	height: 55.625vw;
}

.full-canvas #canvas-bundle
{
	position: absolute;
	
	left: calc((95vw - 55.625vw) / 2);
	bottom: 0;
}



#slide-shelf-container
{
	position: fixed;
	
	width: 100px;
	height: 600px;
	
	top: calc((100vh - 600px) / 2);
	left: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#slide-shelf
{
	width: 50px;
	margin-right: 0;
	background-color: rgb(255, 255, 255);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border-radius: 10px;
	
	padding: 5px;
	
	box-shadow: 0px 0px 5px 0px rgb(127, 127, 127);
}

.shelf-button
{
	width: 50px;
	border-radius: 5px;
	
	transition: background-color .125s ease-in-out;
	background-color: rgb(255, 255, 255);
}

.shelf-button.hover
{
	background-color: rgb(192, 192, 192);
}



/* By default, the slide is 95vw wide due to the padding, and the height is 55.625vw. This aspect ratio is 152:89, so when we're larger than that, we switch to measuring in terms of vh instead. At the switching point, 1vw = 1vh * 152/89, which we use for our calculations. */
@media (min-aspect-ratio: 152/89)
{
	.slide
	{
		height: calc(50.625vh * 152 / 89);
		width: calc(90vh * 152 / 89);
		
		border-radius: calc(2.5vh * 152 / 89);
		
		box-shadow: 0px 0px calc(1vh * 152 / 89) 0px rgb(127, 127, 127);
		
		padding: calc(2.5vh * 152 / 89);
		
		font-size: calc(2vh * 152 / 89);	
	}
	
	.slide .heading-text
	{
		font-size: calc(5vh * 152 / 89);
		
		margin-top: calc(-1vh * 152 / 89);
		
		margin-bottom: calc(1.5vh * 152 / 89);
	}

	.slide .section-text
	{
		font-size: calc(3vh * 152 / 89);
		
		margin-bottom: calc(1.5vh * 152 / 89);
	}

	.slide .body-text
	{
		font-size: calc(2vh * 152 / 89);
		
		margin-bottom: calc(1.5vh * 152 / 89);
	}
	
	.footer-text
	{
		bottom: calc(2vh * 152 / 89);
	}
	
	
	
	.slide canvas
	{
		border-radius: calc(1.25vh * 152 / 89);
	}
	
	.medium-canvas canvas
	{	
		width: calc(40.8vh * 152 / 89);
		height: calc(40.8vh * 152 / 89);
	}

	.medium-canvas #canvas-bundle
	{
		position: absolute;
		
		right: calc(2.5vh * 152 / 89);
		bottom: calc(2.5vh * 152 / 89);
	}

	.large-canvas canvas
	{
		width: calc(45vh * 152 / 89);
		height: calc(45vh * 152 / 89);
	}

	.large-canvas #canvas-bundle
	{
		position: absolute;
		
		left: calc(25vh * 152 / 89);
		bottom: calc(2.5vh * 152 / 89);
	}
	
	.full-canvas canvas
	{
		width: calc(55.625vh * 152 / 89);
		height: calc(55.625vh * 152 / 89);
	}

	.full-canvas #canvas-bundle
	{
		position: absolute;
		
		left: calc(((95vh - 55.625vh) * 152 / 89) / 2);
		bottom: 0;
	}
}