html
{
	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{
	-webkit-text-size-adjust: 100%;
}

:root
{
	--theme-transition-time: 300ms;
}

#font-loader
{
	position: fixed;
	opacity: 0;
}



.rainbow-gradient
{
	background-image: linear-gradient(90deg, #db4c46 16.667%, #e3743f 16.667%, #e3743f 33.333%, #fcf9b6 33.333%, #fcf9b6 50%, #8bc054 50%, #8bc054 66.667%, #4695d0 66.667%, #4695d0 83.333%, #5c2a81 83.333%, #5c2a81 100%);
	
	position: absolute;
	
	bottom: 0;
	right: 0;
	
	width: 7.5vw;
	height: 0;
	
	transform-origin: center bottom;
	transform: rotate(45deg) translate(-4.75vw, 8.5vw);
}



.purple-wave
{
	background-image: url("/themes/wave.png");
	background-size: contain;
	
	position: absolute;
	
	bottom: -10vw;
	left: -50%;
	
	width: 200%;
	
	height: 10vw;
	
	animation: 61s linear infinite moveWave;
	
	opacity: .15;
}

.purple-wave-2
{
	transform: translateX(4vw);
	animation: 47s linear infinite reverse moveWave;
}

.purple-wave-3
{
	transform: translateX(15vw);
	animation: 31s linear infinite moveWave;
}

@keyframes moveWave
{
	from
	{
		margin-left: 0;
	}

	to
	{
		margin-left: calc(10vw * 2.62985);
	}
}



.text-button
{
	color: rgb(64, 64, 64);
	background-color: rgb(255, 255, 255);
	width: fit-content;
	display: inline-block;
	
	text-align: center;

	border: .35vw solid rgb(64, 64, 64);
	border-radius: 1.5vw;
	padding: 1vw;
	font-size: 100%;
	
	cursor: pointer;
	outline: none;
	
	transition: transform .125s ease-out;
}

#lapsa-slide-container.lapsa-hover .text-button:hover
{
	transform: scale(1.05);
}



html.theme-transition
{
	transition: background-color var(--theme-transition-time) ease-in-out;
}

#lapsa-slide-container.theme-transition .slide
{
	transition: background-color var(--theme-transition-time) ease-in-out, border var(--theme-transition-time) ease-in-out, border-radius var(--theme-transition-time) ease-in-out, box-shadow var(--theme-transition-time) ease-in-out;
}

#lapsa-slide-container.theme-transition .slide h1, #lapsa-slide-container.theme-transition .slide h2, #lapsa-slide-container.theme-transition .slide p
{
	transition: opacity calc(var(--theme-transition-time) / 2) ease-in-out;
}

#lapsa-slide-container.theme-opacity-change .slide h1, #lapsa-slide-container.theme-opacity-change .slide h2, #lapsa-slide-container.theme-opacity-change .slide p
{
	opacity: 0 !important;
}

#lapsa-slide-container.theme-transition .slide .rainbow-gradient
{
	transition: height var(--theme-transition-time) ease-in-out;
}

#lapsa-slide-container.theme-transition .slide .purple-wave
{
	transition: bottom var(--theme-transition-time) ease-in-out;
}



/* 1 changes the things that transition directly. 2 changes the things that don't. */

html.dark-industrial-theme-1
{
	background-color: rgb(0, 0, 0);
}

#lapsa-slide-container.dark-industrial-theme-1 .slide
{
	background-color: rgb(24, 24, 24);
	
	border: 4px solid rgb(127, 127, 127);
	border-radius: 0;
	
	box-shadow: 0px 0px 0px 0px rgb(127, 127, 127);
}

#lapsa-slide-container.dark-industrial-theme-2 .slide h1, #lapsa-slide-container.dark-industrial-theme-2 .slide h2
{
	text-align: center;
	
	color: rgb(255, 255, 255);
	
	font-family: "Roboto Slab", serif;
}

#lapsa-slide-container.dark-industrial-theme-2 .slide p
{
	color: rgb(192, 192, 192);
	
	text-align: justify;
	
	font-family: "Roboto Slab", serif;
}



html.blue-whimsical-theme-1
{
	background-color: rgb(189, 214, 228);
}

#lapsa-slide-container.blue-whimsical-theme-1 .slide
{
	background-color: rgb(170, 220, 247);
}

#lapsa-slide-container.blue-whimsical-theme-1 .slide .rainbow-gradient
{
	height: 22.5vw;
}

#lapsa-slide-container.blue-whimsical-theme-2 .slide h1, #lapsa-slide-container.blue-whimsical-theme-2 .slide h2
{
	color: rgb(70, 0, 140);
	
	font-family: "Sofia", cursive;
}

#lapsa-slide-container.blue-whimsical-theme-2 .slide p
{
	color: rgb(83, 47, 119);
	
	font-family: "Bree Serif", serif;
}



html.dark-futuristic-theme-1
{
	background-color: rgb(24, 24, 24);
}

#lapsa-slide-container.dark-futuristic-theme-1 .slide
{
	background-color: rgb(0, 0, 0);
	
	border: 2px solid rgb(127, 127, 102);
	
	border-radius: 1vw;
	
	box-shadow: 0px 0px 0px 0px rgb(127, 127, 127);
}

#lapsa-slide-container.dark-futuristic-theme-1 .slide .purple-wave
{
	bottom: 0;
}

#lapsa-slide-container.dark-futuristic-theme-1 .slide .purple-wave-2
{
	bottom: -2vw;
}

#lapsa-slide-container.dark-futuristic-theme-1 .slide .purple-wave-3
{
	bottom: -4vw;
}

#lapsa-slide-container.dark-futuristic-theme-2 .slide h1, #lapsa-slide-container.dark-futuristic-theme-2 .slide h2
{
	color: rgb(255, 255, 204);
	
	text-align: center;
	
	font-family: "Oswald", sans-serif;
}

#lapsa-slide-container.dark-futuristic-theme-2 .slide p
{
	color: rgb(191, 191, 153);
	
	text-align: justify;
	
	font-family: "Oswald", sans-serif;
}



@media (min-aspect-ratio: 152/89)
{
	.rainbow-gradient
	{	
		width: calc(7.5 * var(--safe-vh) * 152 / 89);
		
		transform: rotate(45deg) translate(calc(-4.75 * var(--safe-vh) * 152 / 89), calc(8.5 * var(--safe-vh) * 152 / 89));
	}
	
	
	
	.purple-wave
	{
		height: calc(10 * var(--safe-vh) * 152 / 89);
		bottom: calc(-10 * var(--safe-vh) * 152 / 89);
	}
	
	.purple-wave-2
	{
		transform: translateX(calc(4 * var(--safe-vh) * 152 / 89));
	}
	
	.purple-wave-3
	{
		transform: translateX(calc(15 * var(--safe-vh) * 152 / 89));
	}
	
	
	
	.text-button
	{
		border: calc(.35 * var(--safe-vh) * 152 / 89) solid rgb(64, 64, 64);
		border-radius: calc(1.5 * var(--safe-vh) * 152 / 89)
		padding: calc(1 * var(--safe-vh) * 152 / 89);
	}
	
	
	
	#lapsa-slide-container.dark-futuristic-theme-1 .slide
	{
		border-radius: calc(var(--safe-vh) * 152 / 89);
	}

	#lapsa-slide-container.dark-futuristic-theme-1 .slide .purple-wave-2
	{
		bottom: calc(-2 * var(--safe-vh) * 152 / 89);
	}

	#lapsa-slide-container.dark-futuristic-theme-1 .slide .purple-wave-3
	{
		bottom: calc(-4 * var(--safe-vh) * 152 / 89);
	}

	@keyframes moveWave
	{
		to
		{
			margin-left: calc(10 * var(--safe-vh) * 2.62985 * 152 / 89);
		}
	}
}