/*
	appendHTML: `<div class="purple-wave"></div>
	<div class="purple-wave purple-wave-2"></div>
	<div class="purple-wave purple-wave-3"></div>`
*/

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.purple-wave
{
	background-image: url("/themes/wave.png");
	background-size: contain;
	
	position: absolute;
	
	bottom: calc(-10 * var(--vl));
	left: -50%;
	
	width: 200%;
	
	height: calc(10 * var(--vl));
	
	animation: 61s linear infinite moveWave;
	
	opacity: .15;
}

.purple-wave-2
{
	transform: translateX(calc(4 * var(--vl)));
	animation: 47s linear infinite reverse moveWave;
}

.purple-wave-3
{
	transform: translateX(calc(15 * var(--vl)));
	animation: 31s linear infinite moveWave;
}

@keyframes moveWave
{
	from
	{
		margin-left: 0;
	}

	to
	{
		margin-left: calc(10 * var(--vl) * 2.62985);
	}
}



html
{
	background-color: rgb(24, 24, 24);
}

.lapsa-slide
{
	background-color: rgb(0, 0, 0);
	
	border: calc(0.25 * var(--vl)) solid rgb(127, 127, 102);
	
	border-radius: calc(1 * var(--vl));
	
	box-shadow: 0px 0px 0px 0px rgb(127, 127, 127);
}

.lapsa-slide .purple-wave
{
	bottom: 0;
}

.lapsa-slide .purple-wave-2
{
	bottom: calc(-2 * var(--vl));
}

.lapsa-slide .purple-wave-3
{
	bottom: calc(-4 * var(--vl));
}

.lapsa-slide h1, .lapsa-slide h2
{
	color: rgb(255, 255, 204);
	
	text-align: center;
	
	font-family: "Oswald", sans-serif;
}

.lapsa-slide p
{
	color: rgb(191, 191, 153);
	
	text-align: justify;
	
	font-family: "Oswald", sans-serif;
}