/*
	appendHTML: `<div class="purple-wave"></div>
	<div class="purple-wave purple-wave-2"></div>
	<div class="purple-wave purple-wave-3"></div>`
*/

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.purple-wave
{
	background-image: url("/themes/wave.png");
	background-size: contain;
	
	position: absolute;
	
	bottom: -10vw;
	left: -50%;
	
	width: 200%;
	
	height: 10vw;
	
	animation: 61s linear infinite moveWave;
	
	opacity: .15;
}

.purple-wave-2
{
	transform: translateX(4vw);
	animation: 47s linear infinite reverse moveWave;
}

.purple-wave-3
{
	transform: translateX(15vw);
	animation: 31s linear infinite moveWave;
}

@keyframes moveWave
{
	from
	{
		margin-left: 0;
	}

	to
	{
		margin-left: calc(10vw * 2.62985);
	}
}



html
{
	background-color: rgb(24, 24, 24);
}

#lapsa-slide-container .slide
{
	background-color: rgb(0, 0, 0);
	
	border: 2px solid rgb(127, 127, 102);
	
	border-radius: 1vw;
	
	box-shadow: 0px 0px 0px 0px rgb(127, 127, 127);
}

#lapsa-slide-container .slide .purple-wave
{
	bottom: 0;
}

#lapsa-slide-container .slide .purple-wave-2
{
	bottom: -2vw;
}

#lapsa-slide-container .slide .purple-wave-3
{
	bottom: -4vw;
}

#lapsa-slide-container .slide h1, #lapsa-slide-container .slide h2
{
	color: rgb(255, 255, 204);
	
	text-align: center;
	
	font-family: "Oswald", sans-serif;
}

#lapsa-slide-container .slide p
{
	color: rgb(191, 191, 153);
	
	text-align: justify;
	
	font-family: "Oswald", sans-serif;
}



@media (min-aspect-ratio: 152/89)
{
	.purple-wave
	{
		height: calc(10 * var(--safe-vh) * 152 / 89);
		bottom: calc(-10 * var(--safe-vh) * 152 / 89);
	}
	
	.purple-wave-2
	{
		transform: translateX(calc(4 * var(--safe-vh) * 152 / 89));
	}
	
	.purple-wave-3
	{
		transform: translateX(calc(15 * var(--safe-vh) * 152 / 89));
	}
	
	
	
	#lapsa-slide-container .slide
	{
		border-radius: calc(var(--safe-vh) * 152 / 89);
	}

	#lapsa-slide-container .slide .purple-wave-2
	{
		bottom: calc(-2 * var(--safe-vh) * 152 / 89);
	}

	#lapsa-slide-container .slide .purple-wave-3
	{
		bottom: calc(-4 * var(--safe-vh) * 152 / 89);
	}

	@keyframes moveWave
	{
		to
		{
			margin-left: calc(10 * var(--safe-vh) * 2.62985 * 152 / 89);
		}
	}
}