:root
{
	--safe-vh: 1vh;
	--vl: 1vw;
}

html, body
{
	overflow-y: hidden;
	user-select: none;
	
	margin: 0;
	padding: 0;
}

body
{
	height: calc(100 * var(--safe-vh));
	
	position: fixed;
}

#lapsa-slide-container
{
	position: relative;
	
	width: 100vw;
	margin: 0 auto;
	opacity: 0;
	
	transform: translateY(0) scale(1);
}

.lapsa-slide-wrapper
{
	position: absolute;
	
	width: 100vw;
	height: calc(55.625 * var(--vl));
	display: flex;
	justify-content: center;
	align-items: center;
}

.lapsa-slide
{
	position: relative;
	
	width: calc(90 * var(--vl));
	height: calc(50.625 * var(--vl));;
	
	border: 0px solid rgb(127, 127, 127);
	border-radius: calc(2.5 * var(--vl));
	
	padding: calc(2.5 * var(--vl));
	
	box-shadow: 0px 0px calc(1 * var(--vl)) 0px rgb(127, 127, 127);
	
	font-size: calc(3 * var(--vl));
	
	line-height: 1.25;
	
	overflow: hidden;
}

#lapsa-slide-container.lapsa-hover.lapsa-table-view .lapsa-slide:hover
{
	box-shadow: 0px 0px calc(4 * var(--vl)) 0px rgb(127, 127, 127);
	cursor: pointer;
}

.lapsa-slide h1,
.lapsa-slide h2,
.lapsa-slide p
{
	width: 100%;
	
	text-align: left;
	
	margin: 0;
	padding-bottom: calc(2 * var(--vl));
	
	line-height: 1.25;
}

.lapsa-slide h1
{
	font-size: 200%;
	
	margin-top: calc(-1 * var(--vl));
}

.lapsa-slide h2
{
	font-size: 150%;
}

.lapsa-slide p
{
	color: rgb(64, 64, 64);
}



#lapsa-slide-shelf-container, #lapsa-slide-shelf-indicator-container
{
	position: fixed;
	
	width: 2.5vw;
	height: calc(100 * var(--safe-vh));
	
	bottom: 0;
	left: 0;
	
	padding-right: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	z-index: 2;
}

#lapsa-slide-shelf-indicator-container
{
	align-items: center;
	z-index: 1;
}

#lapsa-slide-shelf-container.permanent-shelf
{
	justify-content: flex-end;
	width: 50px;
	align-items: end;
	bottom: 15px;
	left: 25px;
}

#lapsa-slide-shelf-indicator-container.permanent-shelf
{
	display: none;
}

#lapsa-slide-shelf
{
	width: 50px;
	margin-left: 25px;
	background-color: rgb(255, 255, 255);
	
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border-radius: 10px;
	
	padding: 5px;
	
	box-shadow: 0px 0px 5px 0px rgb(127, 127, 127);
}

#lapsa-slide-shelf .shelf-button
{
	width: 50px;
	border-radius: 5px;
	
	background-color: rgb(255, 255, 255);
}

#lapsa-slide-shelf.lapsa-hover .shelf-button:hover
{
	background-color: rgb(192, 192, 192);
	cursor: pointer;
}

#lapsa-slide-shelf-indicator
{
	width: 30%;
}



#lapsa-bottom-margin
{
	position: absolute;
	
	width: 1px;
	height: 1px;
}



.lapsa-center-content
{
	display: flex;
	justify-content: center;
	
	width: calc(90 * var(--vl));
}

.lapsa-align-bottom
{
	position: absolute;
	padding-bottom: 0 !important;
	bottom: calc(2.25 * var(--vl));
	left: calc(2.5 * var(--vl));
}

.lapsa-padding-bottom
{
	padding-bottom: calc(2 * var(--vl));
}